body {
    text-align: right;
    font-family: "Tajawal", sans-serif;
    background-color: #f5f5f5;
}
.main-btn {
    color: #fff;
    background-color: #8695a8;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.main-btn:hover,
.main-btn:focus,
.main-btn:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

/* navigation bar */
nav,
.navbar,
.navbar-expand-lg,
.navbar-light,
.bg-light {
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000014;
}
nav button:focus {
    outline: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: #8695a8;
    font-weight: bold;
}
nav img {
    width: 50px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #78cab7;
    font-weight: bold;
}
.navbar-light .navbar-toggler {
    border: none;
}

/* footer */
footer {
    height: fit-content;
    background-color: #78cab7;
    box-shadow: 0px 3px 6px #00000014;
    color: #fff;
    box-shadow: 0px 3px 6px #00000014;
    padding: 5px 25px;
    padding-top: 20px;
}
.f-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

footer div a,
footer div a:hover,
footer div a:active {
    text-decoration: none;
    color: #fff;
}
.footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;
}
.footer-links a {
    text-decoration: none;
    color: #fff;
}
.footer-logos {
    width: 45%;
}
.f-row div {
    text-align: center;
}
.footer-contact {
    width: 10%;
}
/* Large Screens */
@media (min-width: 901px) {
    nav,
    .navbar,
    .navbar-expand-lg,
    .navbar-light,
    .bg-light {
        width: 100%;
        display: flex !important;
        flex-direction: row-reverse !important;
        padding-right: 90px;
        padding-left: 90px;
    }
}

/* Medium Screens */
@media (min-width: 600px) and (max-width: 990px) {
    .f-row {
        flex-direction: column;
    }
    .footer-contact {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-links {
        width: 100%;
        flex-direction: column;
    }
    .footer-logos {
        width: 100%;
        flex-direction: column;
        margin-bottom: 20px;
    }
}
/* Small Screens */
@media only screen and (max-width: 600px) {
    .f-row {
        flex-direction: column;
    }
    .footer-contact {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-links {
        width: 100%;
        flex-direction: column;
    }
    .footer-logos {
        width: 100%;
        flex-direction: column;
        margin-bottom: 20px;
    }
}
